.note-outer {
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 5px solid #f0f0f0;
}
.note-inner {
    display: grid;
    grid-template-columns: 1fr 2rem;
    row-gap: 0.5rem;
}
.note-outer input,
.note-outer textarea {
    border: 1px solid transparent;
    background-color: #f0f0f0;
    display: flex;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
    color: #202020;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.note-outer input {
    font-size: 1.1rem;
    font-weight: 500;
}

.note-outer textarea {
    resize: vertical;
}

.title-counter,
.description-counter {
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.note-submit {
}
