.register-outer-container {
    display: flex;
    height: 100vh;
    background: url(https://source.unsplash.com/1600x900/?norway);
    background-size: cover;
}
.register-inner-container {
    flex-direction: column;
    margin: auto 10% auto 30px;
    /* cor a ser definida */
    background-color: rgba(24, 24, 24, 0.9);
    padding: 10px;
    width: 500px;
    border: 1px hidden transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.text-field,
.text-field:-webkit-autofill:hover, 
.text-field:-webkit-autofill:focus, 
.text-field:-webkit-autofill:active  {
    box-shadow: 0 0 5px black inset !important;
    -webkit-box-shadow: 0 0 5px black inset !important;
    background-color: rgba(24, 24, 24, 0.8) !important;
    color: #fafafa;
}

.text-field-label {
    color: white !important;
    font-weight: bold;
}

.text {
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.text a {
    text-decoration: none;
    color: #7789f0;
}

.register-element {
    margin: 8px 0px;
}
