.search-input,
.search-button {
    height: 2rem;
    border: 1px solid #3c41c5;
}
.search-input {
    box-sizing: border-box;
    background-color: #2429af;
    padding-left: 1rem;
    width: 12rem;
    color: #fff;
    border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -ms-border-radius: 4px 0px 0px 4px;
    -o-border-radius: 4px 0px 0px 4px;
}

.search-button {
    width: 2rem;
    background-color: #cc2200;
    color: white;
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -ms-border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
}
.search-button:active {
    opacity: 0.9;
}
:focus {
    outline: transparent;
}
.toolbar-middle .search-input:focus {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

.search-results {
    position: absolute;
    z-index: 20;
    top: 3rem;
    /* width: 14rem; */
    display: grid;
    row-gap: 0.5rem;
    max-height: 90vh;
    overflow: hidden;
    overflow-y: auto;
}

/* width */
.search-results::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.search-results::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
.search-results::-webkit-scrollbar-thumb {
    background: #3c41c5;
}

/* Handle on hover */
.search-results::-webkit-scrollbar-thumb:hover {
    background: #2429af;
}
.result-item {
    width: 100%;
    display: grid;
    text-decoration: none;
    grid-template-columns: 2rem 12rem;
    column-gap: 1px;
}

.result-item div {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-decoration: none;
    vertical-align: middle;
    padding: 0.5rem 0px;
    border: 1px solid transparent;
    overflow: hidden;
    cursor: pointer;
}

.result-item .result-left {
    text-align: center;
    color: #2429af;
    font-weight: bold;
    background-color: #ccc;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}

.result-item .result-right {
    color: white;
    background-color: #2429af;
    text-align: left;
    padding-left: 0.5rem;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
}
