.MuiToolbar-root {
    display: flex;
    /* position: static; */
    justify-content: space-between;
    padding: 0 1rem;
    width: 100% !important;
    box-sizing: border-box
}

.toolbar-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logout-button {
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid transparent;
    margin: 0;
    margin-left: 10px;
    background-color: #cc2200;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
