.homepage-outer-container {
    display: flex;
    height: 100%;
    background: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
}

.containerLogin {
    flex-direction: column;
    margin: auto 10% auto 30px;
    /* cor a ser definida */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 500px;
    border: 1px hidden transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.text-field {
    background-color: rgba(255, 255, 255, 0.5);
}
.text-label {
    color: white;
    font-weight: bold;
}
.login-element {
    /* display: flex; */
    /* width: 100% */
    margin: 8px 0px;
}
